
.sec-heading h5 {
    color: #D77427;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.sec-heading h3{
    font-weight: bold !important;
} 
.container{
    padding: 60px 0px;
} 

.row>* {
    padding-right: 0px !important;
}

.row {
    --bs-gutter-x: 0rem !important;
}

.sec-heading h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    font-family: 'Noto Sans', sans-serif;
} 
.our-services-box {
    overflow: hidden;
} 
.our-services-box-text {
    padding: 10px 10px;
    position: relative;
} 
.role .col-md-4 {
    width: 33.33%;
} 
.nearer{
    display: flex;
    text-align: center;
    justify-content: center;
} 

.image {
    border-image: fill 0 linear-gradient(#0003,#000) !important;
    
}
.para {
    margin-bottom:  -27px;
    text-align: left;
    color: #000000;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
} 
.our-services-box-text h5 {
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: #494949;
} 
.our-services-box-text p {
    margin-bottom: 0px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #494949;
}

.our-services-box {
    overflow: hidden;
} 

.our-services-box-img img {
    width: 100%;
    height: 400px;
    border-radius: 10px;
} 

.post-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 16px;
}

.post-category {
    color: #010101;
    font-family: 'Open Sauce One';
    font-size: 40px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 40px;
    letter-spacing: 0.8px;
    text-transform: capitalize;
    text-decoration: none;
}
.post-category {
    display: inline-flex;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    border-radius: 44px;
}

.post-category.light-green {
    background: linear-gradient(270deg, rgba(193, 193, 97, 0.7) -88.5%, rgba(212, 212, 177, 0.7) 100%) !important;
}
#a{
    order:1;
}
#b{
    order:2;
}#c{
    order:3;
}#d{
    order:4;
}#e{
    order:5;
}#f{
    order:6;
}#g{
    order:7;
}
#h{
    order:8;
}
#i{
    order:9;
}
#j{
    order:10;
}
#k{
    order:12;
}
#l{
    order:11;
}#m{
    order:14;
}#n{
    order:13;
}#o{
    order:16;
}#p{
    order:15;
}
.category-name {
    color: #010101;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.author {
    color: #010101;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 0;
}

.devider {
    margin: 0 10px;
}

.post-title h2 {
    color: #010101;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: capitalize;
    margin-bottom: 16px;
    width: 90%;
}

.post-description p {
    color: #010101;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
}

.full-width-paragraph {
    
}

.border-nav {
   
   border: 5px solid #ED7F00 !important;

  }
.bodyOn {
    width: 100%;
    height: 400px !important;
    max-height: 890px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.single_banner_caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.single_banner_caption h1 {
    color: #fff;
    margin-left: 400px;
    font-size: 55px;
    font-weight: 500;
    text-shadow: 0 4px 5px #000;
    line-height: 1.1;
}
.single_banner .cityofproject {
    color: #fff!important;
    text-align: right!important;
    font-size: 35px;
    font-weight: 500;
    text-shadow: 0 4px 5px #000;
}
.design{
    border-radius: 30px solid rgb(181, 47, 123);
} 


.inter{
    margin-right: -15px;
    margin-left: -15px;
    letter-spacing: 1px;
}
.containers-fluids {
        padding-left: 30px;
        padding-right: 30px;
}
.p_1 {
    color: black !important;
    font-size: 14px !important;
}

.subHead{
    font-weight:"900";
}
.img_set{
    
    padding: 36px !important;
}

.pDesign{
    font-family: system-ui;
    font-weight: 400;
}
.Cursor{
    cursor: text;
  }
.vc_row{
    margin-left: -15px;
    margin-right: -15px;
}

.vc_row:after, .vc_row:before {
    content: " ";
    display: table;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}

.vc_column-inner {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
}
.pinterest-container {
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    width: 100%;
    list-style-type: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
.pinterest-container li a img:hover{
    transition: all 0.6s ease;
    transform: scale(1.1); 
    transition: all 0.6s ease-in-out !important;
}

.full-width-paragraph {
    width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;width: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
@media only screen and (max-width: 767px)
{
    #a{
        order:1;
    }
    #b{
        order:2;
    }#c{
        order:4;
    }#d{
        order:3;
    }#e{
        order:5;
    }#f{
        order:6;
    }#g{
        order:8;
    }
    #h{
        order:7;
    }
    #i{
        order:9;
    }
    #j{
        order:10;
    }
    #k{
        order:11;
    }
    #l{
        order:12;
    }#m{
        order:14;
    }#n{
        order:13;
    }
    #o{
        order:15;
    }#p{
        order:16;
    }
    .CoverImg{
        height:418px;
        width: 380px !important;
    }
}

.CoverImg{
    height:418px;
    width: 734px;
}
.floorplan-container {
    position: relative;
}

.floorplan-bg-icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    background-image: url('../../../public/logo--1.png');
    background-size: cover;
}